{
  "swagger": "2.0",
  "info": {
    "title": "EVRYTHNG REST API",
    "description": "The EVRYTHNG RESTful API for developers on the EVRYTHNG Platform.",
    "termsOfService": "https://developers.evrythng.com/docs/usage-guidelines",
    "contact": {
      "name": "EVRYTHNG Support",
      "url": "https://developers.evrythng.com/docs/support",
      "email": "service-desk@evrythng.com"
    },
    "license": {
      "name": "EVRYTHNG Service Level Agreement",
      "url": "https://evrythng.com/legal/sla/"
    },
    "version": "1.0.0"
  },
  "host": "api.evrythng.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/access": {
      "get": {
        "tags": [ "Access" ],
        "summary": "Read key access information",
        "description": "Read key access information for the authenticating key.",
        "responses": {
          "200": {
            "description": "The access information for the authenticating key.",
            "schema": { "$ref": "#/definitions/KeyAccessDocument" },
            "examples": {
              "application/json": {
                "account": "UFNCRXfCVM87QNawaE8rrKqc",
                "actor": {
                  "type": "operator",
                  "id": "U2NCaXfCBgPaQ5wRwhTsWnmc"
                }
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application", "Trusted Application", "Application User", "Device" ]
      }
    },
    "/accesses": {
      "post": {
        "tags": [ "Access" ],
        "summary": "Create a new access",
        "description": "Create a new access for another Application User.",
        "parameters": [
          { "$ref": "#/parameters/ApplicationUserAccessDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The access was created successfully.",
            "schema": { "$ref": "#/definitions/ApplicationUserAccessDocument" },
            "examples": {
              "application/json": {
                "id": "59ad60d9b24413002c7d7695",
                "project": "UG4WExTKBqPr9NwRa3twYDnk",
                "app": "UG4NWfQ7BMPN97wawGQRrxtm",
                "user": "UGHrfg5XB6PNQraaamtRNbts",
                "actor": "UGH7CG5WeqP7tNRawGQwrydc",
                "role": "59a676cc6404572c00294433",
                "customFields": {
                  "email": "test@example.com"
                }
              }
            }
          }
        },
        "x-api-keys": [ "Application User" ]
      },
      "get": {
        "tags": [ "Access" ],
        "summary": "Read all accesses",
        "description": "Read an Application User's available acesses.",
        "responses": {
          "200": {
            "description": "The list of available accesses.",
            "schema": { 
              "type": "array",
              "items": { "$ref": "#/definitions/ApplicationUserAccessDocument" }
            }
          }
        },
        "x-api-keys": [ "Application User" ]
      }
    },
    "/accesses/{accessId}": {
      "delete": {
        "tags": [ "Access" ],
        "summary": "Delete an access",
        "description": "Delete an existing Application User access to revoke it. Either the granting or receiving user can do this.",
        "parameters": [
          { "$ref": "#/parameters/accessId" }
        ],
        "responses": {
          "204": {
            "description": "The access was deleted successfully."
          }
        },
        "x-api-keys": [ "Application User" ]
      }
    },
    "/accounts": {
      "get": {
        "tags": [ "Accounts" ],
        "summary": "Read all accounts",
        "description": "Get all accounts visible to an Operator with their API key.",
        "responses": {
          "200": {
            "description": "A list of all accessible accounts.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/AccountDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "UFNCRXfCVM87QNawaE8rrKqc",
                  "createdAt": 1471862431010,
                  "customFields": {
                    "owner": "UEp4rDGsnpCAF6xABbys5Amc"
                  },
                  "updatedAt": 1477652024205,
                  "name": "Test Account Owner",
                  "tfaRequired": false
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [ "Accounts" ],
        "summary": "Read an account",
        "description": "Read a single account by ID.",
        "parameters": [
          { "$ref": "#/parameters/accountId" }
        ],
        "responses": {
          "200": {
            "description": "The requested AccountDocument, if available.",
            "schema": { "$ref": "#/definitions/AccountDocument" },
            "examples": {
              "application/json": {
                "id": "UFNCRXfCVM87QNawaE8rrKqc",
                "createdAt": 1471862431010,
                "customFields": {
                  "owner": "UEp4rDGsnpCAF6xABbys5Amc"
                },
                "updatedAt": 1477652024205,
                "name": "Test Account Owner",
                "tfaRequired": false
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "put": {
        "tags": [ "Accounts" ],
        "summary": "Update an account",
        "description": "Update an account with new user information, such as new `customFields`.",
        "parameters": [
          { "$ref": "#/parameters/accountId" },
          { "$ref": "#/parameters/AccountDocumentUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The updated AccountDocument",
            "schema": { "$ref": "#/definitions/AccountDocument" },
            "examples": {
              "application/json": {
                "id": "UhpHrg39QCy38dht93kiuwnb",
                "createdAt": 1471862430889,
                "customFields": {
                  "owner": "UEp4rDGsnpjdu37d76yg5Amc"
                },
                "updatedAt": 1471862431010,
                "name": "Updated Account Name",
                "tfaRequired": false
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/accounts/{accountId}/accesses": {
      "get": {
        "tags": [ "Accounts" ],
        "summary": "Read account accesses",
        "description": "Read an account's access information and current role.",
        "parameters": [
          { "$ref": "#/parameters/accountId" }
        ],
        "responses": {
          "200": {
            "description": "An array of the account's accesses.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/AccessDocument" }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/accounts/{accountId}/accesses/{accessId}": {
      "get": {
        "tags": [ "Accounts" ],
        "summary": "Read an account access",
        "description": "Read an account access by ID.",
        "parameters": [
          { "$ref": "#/parameters/accountId" },
          { "$ref": "#/parameters/accessId" }
        ], 
        "responses": {
          "200": {
            "description": "The access requested, if available.",
            "schema": { "$ref": "#/definitions/AccessDocument" },
            "examples": {
              "application/json": {
                "id": "57bad69fc18104025b292da8",
                "account": "UhpHrg39QCy9dsSddN8xhwnb",
                "operator": "UEp4rDGsnpCAF6xABbys5Amc",
                "apiKey": "RHADMAdGAw3txdFemb7xYXtkClrtiHvibJRKCFa8...",
                "role": "5889cd38c4b3762e00667633"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "put": {
        "tags": [ "Accounts" ],
        "summary": "Update an account access",
        "description": "Update an account access to set a new role.",
        "parameters": [
          { "$ref": "#/parameters/accountId" },
          { "$ref": "#/parameters/accessId" },
          { "$ref": "#/parameters/AccountDocumentUpdateRoleBody" }
        ], 
        "responses": {
          "200": {
            "description": "The access was updated successfully.",
            "schema": { "$ref": "#/definitions/AccessDocument" },
            "examples": {
              "application/json": {
                "id": "57bad69fc18104025b292da8",
                "account": "UhpHrg39QCy9dsSddN8xhwnb",
                "operator": "UEp4rDGsnpCAF6xABbys5Amc",
                "apiKey": "RHADMAdGAw3txdFemb7xYXtkClrtiHvibJRKCFa8...",
                "role": "5889cd38c4b3762e00667633"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/accounts/{accountId}/shortDomains": {
      "get": {
        "tags": [ "Accounts" ],
        "summary": "Read account short domains",
        "description": "Read all short domains available to an account.",
        "parameters": [
          { "$ref": "#/parameters/accountId" }
        ],
        "responses": {
          "200": {
            "description": "An array of the account's short domains.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                "tn.gg"
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/rateLimits": {
      "get": {
        "tags": [ "Accounts" ],
        "summary": "View rate limit information",
        "description": "View rate limit information for the accounts.",
        "responses": {
          "200": {
            "description": "The available rate limit information",
            "schema": { 
              "type": "array",
              "items": { "$ref": "#/definitions/RateLimitsDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "name": "trial",
                  "rateLimits": [
                    {
                      "url": {
                        "path": "/",
                        "depth": 1
                      },
                      "access": "crud",
                      "limit": {
                        "rate": "day",
                        "timeFrame": 1,
                        "warningMaxHits": 3600,
                        "blockingMaxHits": 5000
                      },
                      "hits": 3,
                      "hitsRemaining": 4997,
                      "reset": 30020
                    }
                  ]
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application", "Application", "Application User", "Device" ]
      }
    },
    "/actions": {
      "post": {
        "tags": [ "Actions" ],
        "summary": "Create an action type",
        "description": "Create a new action type.",
        "parameters": [
          { "$ref": "#/parameters/ActionTypeDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The newly created action type.",
            "schema": { "$ref": "#/definitions/ActionTypeDocument" },
            "examples": {
              "application/json": {
                "id": "Uk7WdgFAMQtehsRawgdwEkCn",
                "createdAt": 1490368131932,
                "updatedAt": 1490368131932,
                "name": "_custom"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      },
      "get": {
        "tags": [ "Actions" ],
        "summary": "Read all action types",
        "description": "Read all action types.  The action types are returned with the built-in types coming first, followed by the custom types sorted by descending creation date.",
        "responses": {
          "200": {
            "description": "All available action types.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ActionTypeDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "name": "checkins"
                },
                {
                  "name": "implicitScans"
                },
                {
                  "name": "scans"
                },
                {
                  "name": "shares"
                },
                {
                  "id": "Uk7WdgFAMQtehsRawgdwEkCn",
                  "createdAt": 1490368131932,
                  "updatedAt": 1490368131932,
                  "name": "_custom"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      }
    },
    "/actions/{actionType}": {
      "post": {
        "tags": [ "Actions" ],
        "summary": "Create an action",
        "description": "Create a new action of the specified type. `all` can be specified as the `actionType`, in which case the specified action type must be supplied in the payload. If no location is specified, the Platform will automatically determine the location based on the IP address of the device who has issued it, along with a country code that is returned in the context object.",
        "parameters": [
          { "$ref": "#/parameters/actionType" },
          { "$ref": "#/parameters/ActionDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The newly created action.",
            "schema": { "$ref": "#/definitions/ActionDocument" },
            "examples": {
              "application/json": {
                "id":"51cac5610c31fcd6f0434a90",
                "createdAt":1372243297475,
                "customFields": {
                  "color":"blue"
                },
                "timestamp":1386322747971,
                "identifiers": {
                  "sapId": "KDL-46EX402AEP",
                  "event_Id": "027242784925"
                },
                "type":"scans",
                "user":"51c95a9ae4b08235bfeef378",
                "createdByProject": "51c95a9ae4b08235bfeef341",
                "createdByApp": "51c98b6ae4b08235bfeef345",
                "location": {
                  "position": {
                    "type": "Point",
                    "coordinates": [6.1667,49.75]
                  }
                },
                "locationSource":"geoIp",
                "context": {
                  "ipAddress":"147.67.4.98",
                  "countryCode":"LU"
                },
                "thng":"51c98c28e4b08235bfeef389",
                "product":"51c98b6ae4b08235bfeef387"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      },
      "get": {
        "tags": [ "Actions" ],
        "summary": "Read all actions of a type",
        "description": "Read all actions of the specified `actionType` visible to the authenticating API key. `all` can be used as the `actionType` to view actions of all types.",
        "parameters": [
          { "$ref": "#/parameters/actionType" }
        ],
        "responses": {
          "200": {
            "description": "The actions of type requested, if available.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ActionDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "createdAt": 1489415597321,
                  "createdByApp": "UkMgYtdEVDsaQKaRwgdAWsdn",
                  "createdByProject": "UF5hQHxMBg8a9pwwRYxqXkqp",
                  "customFields": {
                    "ExternalScan": true
                  },
                  "id": "U2MDHNnsVg8RtpRawDDAmFge",
                  "location": {
                    "latitude": 51.748446699999995,
                    "longitude": -0.9656587999999999,
                    "position": {
                      "coordinates": [
                        -0.9656587999999999,
                        51.748446699999995
                      ],
                      "type": "Point"
                    }
                  },
                  "locationSource": "sensor",
                  "product": "UFKE9nHBBg8atKaawgVrKKbs",
                  "thng": "Uk6XkAPbBXPwtKwawDAepMmm",
                  "timestamp": 1489415597321,
                  "type": "scans",
                  "user": "UkqD4NnYBD8a9pawwEsXqrkh"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "put": {
        "tags": [ "Actions" ],
        "summary": "Update an action type",
        "description": "Update an action type with new metadata.",
        "parameters": [
          { "$ref": "#/parameters/actionType" },
          { "$ref": "#/parameters/ActionTypeDocumentUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The action type was updated successfully.",
            "schema": { "$ref": "#/definitions/ActionTypeDocument" },
            "examples": {
              "application/json": {
                "id": "UFPMHq2xeDPatpRRwERN2hGm",
                "createdAt": 1491905665800,
                "tags": [
                  "updated"
                ],
                "updatedAt": 1492521409780,
                "name": "_permanent"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      },
      "delete": {
        "tags": [ "Actions" ],
        "summary": "Delete an action type",
        "description": "Delete an action type.",
        "parameters": [
          { "$ref": "#/parameters/actionType" }
        ],
        "responses": {
          "200": {
            "description": "The action type was deleted successfully."
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      }
    },
    "/actions/{actionType}/{actionId}": {
      "get": {
        "tags": [ "Actions" ],
        "summary": "Read an action",
        "description": "Read a single action by ID. You can use `all` as an `actionType` to read actions of unknown type.",
        "parameters": [
          { "$ref": "#/parameters/actionType" },
          { "$ref": "#/parameters/actionId" }
        ],
        "responses": {
          "200": {
            "description": "The requested action, if available.",
            "schema": { "$ref": "#/definitions/ActionDocument" },
            "examples": {
              "application/json": {
                "createdAt": 1490356832189,
                "id": "Uk7CwHXaeg8w9KaaagVDhHqq",
                "location": {
                  "latitude": 51.45,
                  "longitude": 0.2167,
                  "position": {
                    "coordinates": [
                      0.2167,
                      51.45
                    ],
                    "type": "Point"
                  }
                },
                "locationSource": "geoIp",
                "thng": "UkNCRED7BDPaQKRRwhAnPaQn",
                "timestamp": 1490356832189,
                "type": "scans"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "delete": {
        "tags": [ "Actions" ],
        "summary": "Delete an action",
        "description": "Delete an action by ID.",
        "parameters": [
          { "$ref": "#/parameters/actionType" },
          { "$ref": "#/parameters/actionId" }
        ],
        "responses": {
          "200": {
            "description": "The action was deleted. No body is returned"
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/actions/{actionType}/{actionId}?context=true": {
      "get": {
        "tags": [ "Actions" ],
        "summary": "Read an action with context",
        "description": "Read a single action by ID with context. The `?context=true` query parameter can be used to include the context field in the action read.",
        "parameters": [
          { "$ref": "#/parameters/actionType" },
          { "$ref": "#/parameters/actionId" }
        ],
        "responses": {
          "200": {
            "description": "The requested action, if available.",
            "schema": { "$ref": "#/definitions/ActionDocument" },
            "examples": {
              "application/json": {
                "context": {
                  "city": "Dartford",
                  "countryCode": "GB",
                  "operatingSystemName": "Mac OS",
                  "region": "England",
                  "timeZone": "Europe/London",
                  "userAgentName": ""
                },
                "createdAt": 1490356832189,
                "id": "Uk7CwHXaeg8w9KaaagVDhHqq",
                "location": {
                  "latitude": 51.45,
                  "longitude": 0.2167,
                  "position": {
                    "coordinates": [
                      0.2167,
                      51.45
                    ],
                    "type": "Point"
                  }
                },
                "locationSource": "geoIp",
                "thng": "UkNCRED7BDPaQKRRwhAnPaQn",
                "timestamp": 1490356832189,
                "type": "scans"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      }
    },
    "/projects/{projectId}/applications": {
      "post": {
        "tags": [ "Applications" ],
        "summary": "Create an application",
        "description": "Create an application within a project. The object returned contains the `appApiKey` parameter, which is an Application API key that must be used within an external application to issue calls to the API. However, because this API key can be hard coded within external applications (e.g. mobile/JS) and is visible to anyone, it can be used only for a very limited set of operations (create users, read a product, send actions etc.).",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/ApplicationDocumentCreateUpdateBody" }
        ],
        "responses": {
          "201": {
            "description": "The created application was created successfully.",
            "schema": { "$ref": "#/definitions/ApplicationDocument" },
            "examples": {
              "application/json": {
                "appApiKey": "nbB8SdjtzWrgmbSQwp7HAHug3wCBPZ4MJwkqBvZL...",
                "id": "Uh6GfhFnmgScpnxwMsqmbbBk",
                "createdAt": 1472812938247,
                "updatedAt": 1486632665680,
                "name": "Main App",
                "description": "Main app for API testing and documentation",
                "project": "Uh5qRBqc4DcmbNbAANtMnrYm",
                "socialNetworks": {},
                "defaultRole": "base_app_user"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "get": {
        "tags": [ "Applications" ],
        "summary": "Read all applications",
        "description": "Read all applications inside the specified project.",
        "parameters": [
          { "$ref": "#/parameters/projectId" }
        ],
        "responses": {
          "200": {
            "description": "All visible applications.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ApplicationDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "appApiKey": "nbB8SdjtzWrgmbSQwp7HAHug3wCBPZ4MJwkqBvZL...",
                  "id": "Uh6GfhFnmgScpnxwMsqmbbBk",
                  "createdAt": 1472812938247,
                  "updatedAt": 1486632665680,
                  "name": "Main App",
                  "description": "Main app for API testing and documentation",
                  "project": "Uh5qRBqc4DcmbNbAANtMnrYm",
                  "socialNetworks": {},
                  "defaultRole": "base_app_user"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/projects/{projectId}/applications/{applicationId}": {
      "get": {
        "tags": [ "Applications" ],
        "summary": "Read an application",
        "description": "Read an application by `applicationId` in the project specified by `projectId`.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" }
        ],
        "responses": {
          "200": {
            "description": "The application requested, if available.",
            "schema": { "$ref": "#/definitions/ApplicationDocument" },
            "examples": {
              "application/json": [
                {
                  "appApiKey": "nbB8SdjtzWrgmbSQwp7HAHug3wCBPZ4MJwkqBvZL...",
                  "id": "Uh6GfhFnmgScpnxwMsqmbbBk",
                  "createdAt": 1472812938247,
                  "updatedAt": 1486632665680,
                  "name": "Main App",
                  "description": "Main app for API testing and documentation",
                  "project": "Uh5qRBqc4DcmbNbAANtMnrYm",
                  "socialNetworks": {},
                  "defaultRole": "base_app_user"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "put": {
        "tags": [ "Applications" ],
        "summary": "Update an application",
        "description": "Update an application by `applicationId`.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/ApplicationDocumentCreateUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The updated application",
            "schema": { "$ref": "#/definitions/ApplicationDocument" },
            "examples": {
              "application/json": {
                "appApiKey": "nbB8SdjtzWrgmbSQwp7HAHug3wCBPZ4MJwkqBvZL...",
                "id": "Uh6GfhFnmgScpnxwMsqmbbBk",
                "createdAt": 1472812938247,
                "updatedAt": 1486632665680,
                "name": "Main App",
                "description": "Main app for API testing and documentation",
                "project": "Uh5qRBqc4DcmbNbAANtMnrYm",
                "socialNetworks": {},
                "defaultRole": "base_app_user"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "delete": {
        "tags": [ "Applications" ],
        "summary": "Delete an application",
        "description": "Delete an application by `applicationId`.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" }
        ],
        "responses": {
          "200": {
            "description": "The application was successfully deleted."
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/applications/me": {
      "get": {
        "tags": [ "Applications" ],
        "summary": "Read self application",
        "description": "Read the self application of the authenticating Trusted App API Key.",
        "responses": {
          "200": {
            "description": "The authenticating `ApplicationDocument`, if available.",
            "schema": { "$ref": "#/definitions/ApplicationDocument" },
            "examples": {
              "application/json": {
                "id": "Umbn56MmBDsatpaawg6XgKfk",
                "createdAt": 1494924489128,
                "customFields": {},
                "updatedAt": 1496755229994,
                "name": "Main Application",
                "description": "Main Application",
                "project": "UmxHK6K8BXsa9KawRh4bTbqc",
                "socialNetworks": {},
                "appApiKey": "m9xYExkQJNt78BI7676Ftx3TLcpPK5Dbpv2WcSBA...",
                "defaultRole": "base_app_user"
              }
            }
          }
        },
        "x-api-keys": [ "Trusted Application", "Application" ]
      },
      "put": {
        "tags": [ "Applications" ],
        "summary": "Update self application",
        "description": "Update the self application of the authenticating Trusted App API Key.",
        "parameters": [
          { "$ref": "#/parameters/ApplicationDocumentCreateUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The application was updated.",
            "schema": { "$ref": "#/definitions/ApplicationDocument" },
            "examples": {
              "application/json": {
                "id": "Umbn56MmBDsatpaawg6XgKfk",
                "createdAt": 1494924489128,
                "customFields": {},
                "updatedAt": 1496755229994,
                "name": "Main Application",
                "description": "Main Application",
                "project": "UmxHK6K8BXsa9KawRh4bTbqc",
                "socialNetworks": {},
                "appApiKey": "m9xYExkQJNt78BI7676Ftx3TLcpPK5Dbpv2WcSBA...",
                "defaultRole": "base_app_user"
              }
            }
          }
        },
        "x-api-keys": [ "Trusted Application" ]
      }
    },
    "/projects/{projectId}/applications/{applicationId}/secretKey": {
      "get": {
        "tags": [ "Applications" ],
        "summary": "Read Trusted App API Key",
        "description": "Read the Trusted Application API key for the application with `applicationId`. This is a secret key that has access to more endpoints than the standard Application API key.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" }
        ],
        "responses": {
          "200": {
            "description": "The Trusted Application API key.",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "secretApiKey": "oEdxM3LcE351wLg1Zb2co6KmCLGIIUDmUNVKqbjb..."
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/auth/evrythng/users": {
      "post": {
        "tags": [ "Application Users" ],
        "summary": "Create an Application User",
        "description": "Create a new unactivated Application User with a unique email address. The response contains an `activationCode` that must be returned to the API (See 'Activate an Application User') before it can access the API. This gives the client application an opportunity to ensure the email address has been validated.",
        "parameters": [
          { "$ref": "#/parameters/ApplicationUserDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The application user was created successfully.",
            "schema": { "$ref": "#/definitions/ApplicationUserActivationDocument" },
            "examples": {
              "application/json": {
                "evrythngUser": "U2N4xqPyVgsa95wRwhFGNmma",
                "activationCode": "38iVlrnV",
                "status": "inactive",
                "email": "test@testers.com"
              }
            }
          }
        },
        "x-api-keys": [ "Trusted Application", "Application" ]
      }
    },
    "/auth/evrythng/users/{evrythngUser}/validate": {
      "post": {
        "tags": [ "Application Users" ],
        "summary": "Activate an Application User",
        "description": "Activate a new Application User using the `activationCode` provided in the 'Create an Application User' step.",
        "parameters": [
          { "$ref": "#/parameters/evrythngUser" },
          { "$ref": "#/parameters/ApplicationUserActivationCreatedBody" }
        ],
        "responses": {
          "201": {
            "description": "The Application User was successfully activated.",
            "schema": { "$ref": "#/definitions/ApplicationUserActivatedDocument" },
            "examples": {
              "application/json": {
                "status": "active",
                "evrythngUser": "U2r5EyXxVgPRQpwRwhHGCebs",
                "evrythngApiKey": "hy4auhuQ31YsxvZT7Y2nWbzRg2wKczBzlLGSQakC..."
              }
            }
          }
        },
        "x-api-keys": [ "Trusted Application", "Application" ]
      }
    },
    "/auth/evrythng/users?anonymous=true": {
      "post": {
        "tags": [ "Application Users" ],
        "summary": "Create an anonymous user",
        "description": "Create an anonymous Application User. These users are not associated with a real person, and are useful for tracking anonymous interactions.",
        "parameters": [
          { "$ref": "#/parameters/AnonymousUserCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The anonymous user was created successfully.",
            "schema": { "$ref": "#/definitions/AnonymousUserDocument" },
            "examples": {
              "application/json": {
                "evrythngUser": "U2rKnpC6Bq8rQ7aaREGWpaxh",
                "status": "anonymous",
                "email": "anon-f6aa5df0-147c-11e7-bcca-cda8df69482e.app-uh6gfhfnmgscpnxwmsqmbbbk@anon.evrythng.com",
                "evrythngApiKey": "cP6JYY5vsztSTVBgiwAR9anHBfHIKLEJxx6ikvgi...",
                "socialNetwork": "evrythng"
              }
            }
          }
        },
        "x-api-keys": [ "Trusted Application", "Application" ]
      }
    },
    "/users": {
      "get": {
        "tags": [ "Application Users" ],
        "summary": "Read all Application Users",
        "description": "Read all visible application users.",
        "responses": {
          "200": {
            "description": "An array of all visible Application Users.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ApplicationUserDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "Uka3sDEB6B7SyCDqqYDNHdfs",
                  "createdAt": 1477043828768,
                  "updatedAt": 1477043893319,
                  "email": "testuser@test.com",
                  "firstName": "Test",
                  "lastName": "User",
                  "project": "Uh5qRBqc4DcmbNbAANtMnrYm",
                  "app": "Uh6GfhFnmgScpnxwMsqmbbBk"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/users/{evrythngUser}": {
      "get": {
        "tags": [ "Application Users" ],
        "summary": "Read an Application User",
        "description": "Read a single Application User but their `evrythngUser` ID.",
        "parameters": [
          { "$ref": "#/parameters/evrythngUser" }
        ],
        "responses": {
          "200": {
            "description": "The Application User was read successfully.",
            "schema": { "$ref": "#/definitions/ApplicationUserDocument" },
            "examples": {
              "application/json": {
                "id": "UGN5FtfdV6PNQ7aRaXwCrhHp",
                "createdAt": 1507561299992,
                "updatedAt": 1507561300298,
                "email": "appuser-1507561299766@example.com",
                "firstName": "Example",
                "lastName": "User",
                "project": "UmrK2QWAegPwQ5waRh4QMQfp",
                "app": "UGr5kQCUBMsr9NwwR2wPeKbe"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User" ]
      },
      "put": {
        "tags": [ "Application Users" ],
        "summary": "Update an Application User",
        "description": "Update an existing Application User by their `evrythngUser` ID. Authorised Application Users can modify their own data (including the password) using their API key.",
        "parameters": [
          { "$ref": "#/parameters/evrythngUser" },
          { "$ref": "#/parameters/ApplicationUserDocumentUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The Application User was updated.",
            "schema": { "$ref": "#/definitions/ApplicationUserDocument" },
            "examples": {
              "application/json": {
                "id": "Uka3sDEB6B7SyCDqqYDNHdfs",
                "createdAt": 1477043828768,
                "updatedAt": 1490780828406,
                "email": "population1@test.com",
                "firstName": "UPdated",
                "lastName": "One",
                "project": "Uh5qRBqc4DcmbNbAANtMnrYm",
                "app": "Uh6GfhFnmgScpnxwMsqmbbBk"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User" ]
      },
      "delete": {
        "tags": [ "Application Users" ],
        "summary": "Delete an Application User",
        "description": "Delete an Application User by its `evrythngUser` ID.",
        "parameters": [
          { "$ref": "#/parameters/evrythngUser" }
        ],
        "responses": {
          "200": {
            "description": "The Application User was deleted."
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/auth/all/logout": {
      "post": {
        "tags": [ "Application Users" ],
        "summary": "Log an Application User out",
        "description": "Log an Application User out and invalidate their Application User API key.",
        "responses": {
          "201": {
            "description": "The Application User was logged out successfully.",
            "schema": { "$ref": "#/definitions/ApplicationUserLogoutDocument" },
            "examples": {
              "application/json": {
                "logout": "ok"
              }
            }
          }
        },
        "x-api-keys": [ "Application User" ]
      }
    },
    "/auth/evrythng": {
      "post": {
        "tags": [ "Application Users" ],
        "summary": "Log an Application User in",
        "description": "Authenticate (log in) an existing user using their original `email` and `password` used at creation time.",
        "parameters": [
          { "$ref": "#/parameters/ApplicationUserLoginBody" }
        ],
        "responses": {
          "201": {
            "description": "The user was logged in successfully, and a new API key created for this login session.",
            "schema": { "$ref": "#/definitions/ApplicationUserLoggedInDocument" },
            "examples": {
              "application/json": {
                "socialNetwork": "evrythng",
                "evrythngUser": "U2rKMB5QVXsRtKawRhYWDa9f",
                "evrythngApiKey": "USiVuEFErLJYngR1msPaaOpNNRuOQaiF9Hs4lu8g...",
                "email": "test@evrythng.com",
                "status": "active"
              }
            }
          }
        },
        "x-api-keys": [ "Trusted Application", "Application" ]
      }
    },
    "/users/login": {
      "post": {
        "tags": [ "Application Users" ],
        "summary": "Log In with Access Info",
        "description": "Log an Application User in and obtain access details.",
        "parameters": [
          { "$ref": "#/parameters/ApplicationUserLoginBody" }
        ],
        "responses": {
          "200": {
            "description": "The log in was successful.",
            "schema": { "$ref": "#/definitions/ApplicationUserDocument" },
            "examples": {
              "application/json": {
                "id": "UGCMtpXfqQQBYPRwahgnwPnc",
                "createdAt": 1499265893463,
                "updatedAt": 1499265908969,
                "email": "test@evrythng.com",
                "firstName": "Test",
                "lastName": "User",
                "project": "U2As9WsMthW5F5aeFECpCeDs",
                "app": "UFUstWQVQEC5FpRe2EWpWBhf",
                "access": {
                  "id": "595cfb74b4a46a2c00b7b6d5",
                  "project": "U2As9WsMthW5F5aeFECpCeDs",
                  "app": "UFUstWQVQEC5FpRe2EWpWBhf",
                  "user": "UGCMtpXfqQQBYPRwahgnwPnc",
                  "actor": "UGCMtpXfqQQBYPRwahgnwPnc",
                  "role": "592d70418c5e3f2800408a74",
                  "apiKey": "N8tUbOLK4B5RD3VIXoJs05DkP4lrE1RE3WbChQw7..."
                }
              }
            }
          }
        },
        "x-api-keys": [ "Trusted Application", "Application" ]
      }
    },
    "/batches": {
      "post": {
        "tags": [ "Batches" ],
        "summary": "Create a batch",
        "description": "Create a batch.",
        "parameters": [
          { "$ref": "#/parameters/BatchDocumentCreateUpdateBody" }
        ],
        "responses": {
          "201": {
            "description": "The batch was created successfully.",
            "schema": { "$ref": "#/definitions/BatchDocument" },
            "examples": {
              "application/json": {
                "id": "UFsd3nVC6tQBEsRwwDngYcfb",
                "createdAt": 1491311173775,
                "updatedAt": 1491311173775,
                "name": "Batch # R1-5 | 03-2015",
                "description": "Batch # R1-5 | 03-2015. LEDs for bulbs.",
                "status": "EMPTY"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "get": {
        "tags": [ "Batches" ],
        "summary": "Read all batches",
        "description": "Read all available batches. Use a filter to retrieve a subset of all batches created.",
        "responses": {
          "200": {
            "description": "An array of all available batches, paginated as necessary.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/BatchDocument" }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/batches/{batchId}": {
      "get": {
        "tags": [ "Batches" ],
        "summary": "Read a batch",
        "description": "Read a single batch by ID.",
        "parameters": [
          { "$ref": "#/parameters/batchId" }
        ],
        "responses": {
          "200": {
            "description": "The requested batch, if available.",
            "schema": { "$ref": "#/definitions/BatchDocument" },
            "examples": {
              "application/json": {
                "id": "UkPd3QayMmPEhMawwgaVrwbm",
                "createdAt": 1491312386545,
                "updatedAt": 1491312386545,
                "name": "PermaBatch",
                "status": "EMPTY"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "put": {
        "tags": [ "Batches" ],
        "summary": "Update a batch",
        "description": "Update a batch by ID. Nested fields such as `tags` are replaced with the new value in the payload.",
        "parameters": [
          { "$ref": "#/parameters/batchId" },
          { "$ref": "#/parameters/BatchDocumentCreateUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The batch was updated successfully.",
            "schema": { "$ref": "#/definitions/BatchDocument" },
            "examples": {
              "application/json": {
                "id": "UkPd3QayMmPEhMawwgaVrwbm",
                "createdAt": 1491312386545,
                "updatedAt": 1491312386545,
                "name": "Updated Batch",
                "status": "EMPTY"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "delete": {
        "tags": [ "Batches" ],
        "summary": "Delete a batch",
        "description": "Delete a batch by ID. Deleting the batch will not delete the tasks and Thngs in it, which must be deleted separately.",
        "parameters": [
          { "$ref": "#/parameters/batchId" }
        ],
        "responses": {
          "200": {
            "description": "The batch was deleted successfully."
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/connectors": {
      "get": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Read all connectors",
        "description": "Read a list of connectors that are visible to the Application User authenticating this request with their Application User API Key.",
        "responses": {
          "200": {
            "description": "A list of connectors available to the authenticating Application User.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ConnectorDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "name": "nest",
                  "displayName": "Nest",
                  "url": "http://www.nest.com",
                  "image": "http://file.answcdn.com/answ-cld/image/upload/v1/tk/brand_image/c7d3fadd/c71c29fef0dd6c56a9b2777906bcf3245960c403.png",
                  "authUrl": "https://api.evrythng.com/connectors/nest/auth",
                  "status": "disconnected"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Application User" ]
      }
    },
    "/connectors/{connectorName}": {
      "get": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Read a connector",
        "description": "Read a single connector by name as the authenticating Application User.",
        "parameters": [
          { "$ref": "#/parameters/connectorName" }
        ],
        "responses": {
          "200": {
            "description": "The requested connector, if available.",
            "schema": { "$ref": "#/definitions/ConnectorDocument" },
            "examples": {
              "application/json": {
                "name": "nest",
                "displayName": "Nest",
                "url": "http://www.nest.com",
                "image": "http://file.answcdn.com/answ-cld/image/upload/v1/tk/brand_image/c7d3fadd/c71c29fef0dd6c56a9b2777906bcf3245960c403.png",
                "authUrl": "https://api.evrythng.com/connectors/nest/auth",
                "status": "disconnected"
              }
            }
          }
        },
        "x-api-keys": [ "Application User" ]
      }
    },
    "/connectors/{connectorName}/auth": {
      "get": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Authenticate through connector",
        "description": "Authenticate the connector service through redirection.",
        "parameters": [
          { "$ref": "#/parameters/connectorName" }
        ],
        "responses": {
          "301": {
            "description": "Check the `Location` header for destination location."
          }
        },
        "x-api-keys": [ "Application User" ]
      }
    },
    "/connectors/{connectorName}/auth/token": {
      "post": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Authenticate with an existing token",
        "description": "Authenticate with the connector service using an existing OAuth token.",
        "parameters": [
          { "$ref": "#/parameters/connectorName" },
          { "$ref": "#/parameters/OAuthTokenDocumentCreateBody" }
        ],
        "responses": {
          "202": {
            "description": "The request was accepted."
          }
        },
        "x-api-keys": [ "Application User" ]
      }
    },
    "/projects/{projectId}/applications/{applicationId}/connectors": {
      "post": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Create a connector",
        "description": "To enable a third party integration for a specific application, `POST` a connector model describing the configuration of the connection with the third party cloud. Only the Operator can enable connectors in an application. For Nest connectors, the `auth` credentials can be found in the Nest Developers console.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/ConnectorDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The connector was created successfully.",
            "schema": { "$ref": "#/definitions/ConnectorDocument" },
            "examples": {
              "application/json": {
                "name": "nest",
                "displayName": "Nest",
                "url": "http://www.nest.com",
                "image": "http://file.answcdn.com/answ-cld/image/upload/v1/tk/brand_image/c7d3fadd/c71c29fef0dd6c56a9b2777906bcf3245960c403.png",
                "authUrl": "http://api.evrythng.com/connectors/nest/auth",
                "model": {
                  "structures": {
                    "name": "Structure Name"
                  },
                  "devices": {
                    "thermostats": {
                      "name": "Thermostat Name"
                    },
                    "smoke_co_alarms": {
                      "name": "Smoke Alarm Name"
                    }
                  }
                },
                "auth": {
                  "type": "oauth",
                  "oAuthUrl": "https://home.nest.com/login/oauth2",
                  "tokenUrl": "https://api.home.nest.com/oauth2/access_token",
                  "clientId": "8573df3d-4434-443b-b43a-756a9a7e58c6",
                  "clientSecret": "8593DgGp493BaB8GFHVmACBCB"
                }
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "get": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Read all connectors",
        "description": "Read all connectors in an application.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" }
        ],
        "responses": {
          "200": {
            "description": "All connectors within the specified application.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ConnectorDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "name": "nest",
                  "displayName": "Nest",
                  "url": "http://www.nest.com",
                  "image": "http://file.answcdn.com/answ-cld/image/upload/v1/tk/brand_image/c7d3fadd/c71c29fef0dd6c56a9b2777906bcf3245960c403.png",
                  "authUrl": "http://api.evrythng.com/connectors/nest/auth",
                  "model": {
                    "structures": {
                      "name": "Structure Name"
                    },
                    "devices": {
                      "thermostats": {
                        "name": "Thermostat Name"
                      },
                      "smoke_co_alarms": {
                        "name": "Smoke Alarm Name"
                      }
                    }
                  },
                  "auth": {
                    "type": "oauth",
                    "oAuthUrl": "https://home.nest.com/login/oauth2",
                    "tokenUrl": "https://api.home.nest.com/oauth2/access_token",
                    "clientId": "8573df3d-4434-443b-b43a-756a9a7e58c6",
                    "clientSecret": "8593DgGp493BaB8GFHVmACBCB"
                  }
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/projects/{projectId}/applications/{applicationId}/connectors/{connectorName}": {
      "get": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Read an app connector",
        "description": "Read a single connector by name within an application.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/connectorName" }
        ],
        "responses": {
          "200": {
            "description": "The requested connector, if available.",
            "schema": { "$ref": "#/definitions/ConnectorDocument" },
            "examples": {
              "application/json": {
                "name": "nest",
                "displayName": "Nest",
                "url": "http://www.nest.com",
                "image": "http://file.answcdn.com/answ-cld/image/upload/v1/tk/brand_image/c7d3fadd/c71c29fef0dd6c56a9b2777906bcf3245960c403.png",
                "authUrl": "http://api.evrythng.com/connectors/nest/auth",
                "model": {
                  "structures": {
                    "name": "Structure Name"
                  },
                  "devices": {
                    "thermostats": {
                      "name": "Thermostat Name"
                    },
                    "smoke_co_alarms": {
                      "name": "Smoke Alarm Name"
                    }
                  }
                },
                "auth": {
                  "type": "oauth",
                  "oAuthUrl": "https://home.nest.com/login/oauth2",
                  "tokenUrl": "https://api.home.nest.com/oauth2/access_token",
                  "clientId": "8573df3d-4434-443b-b43a-756a9a7e58c6",
                  "clientSecret": "8593DgGp232BaB8GFHVmACBCB"
                }
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "put": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Update a connector",
        "description": "Update a single connector by name. Not all the fields of a connector can be updated. If the authentication parameters changed, this is considered to be a new connector and it must to be created separately as a new resource.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/connectorName" },
          { "$ref": "#/parameters/ConnectorDocumentUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The connector was updated successfully.",
            "schema": { "$ref": "#/definitions/ConnectorDocument" },
            "examples": {
              "application/json": {
                "name": "nest",
                "displayName": "Nest",
                "url": "http://www.nest.com",
                "image": "http://file.answcdn.com/answ-cld/image/upload/v1/tk/brand_image/c7d3fadd/c71c29fef0dd6c56a9b2777906bcf3245960c403.png",
                "authUrl": "http://api.evrythng.com/connectors/pest/auth",
                "model": {
                  "structures": {
                    "name": "New Structure Name"
                  }
                },
                "auth": {
                  "type": "oauth",
                  "oAuthUrl": "https://home.nest.com/login/oauth2",
                  "tokenUrl": "https://api.home.nest.com/oauth2/access_token",
                  "clientId": "8573df3d-4434-443b-b43a-756a9a7e58c6",
                  "clientSecret": "8593DgGp493BaB8GFHVmACBCB"
                }
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "delete": {
        "tags": [ "Cloud 2 Cloud" ],
        "summary": "Delete a connector",
        "description": "Delete a single connector by name. Deleting a connector for an application will delete all the Thngs that were imported from the third party cloud.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/connectorName" }
        ],
        "responses": {
          "200": {
            "description": "The connector was deleted successfully."
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/collections": {
      "post": {
        "tags": [ "Collections" ],
        "summary": "Create a collection",
        "description": "Create a new collection. Resources can then be added to that collection with further `PUT` requests specifying the collection ID.",
        "parameters": [
          { "$ref": "#/parameters/CollectionDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The collection was created successfully.",
            "schema": { "$ref": "#/definitions/CollectionDocument" },
            "examples": {
              "application/json": {
                "id": "UF7MqQQsVXPatpaawYgnnbqh",
                "createdAt": 1490866174655,
                "updatedAt": 1490866174655,
                "name": "Test collection"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "get": {
        "tags": [ "Collections" ],
        "summary": "Read all collections",
        "description": "Read all collections available in an account.",
        "responses": {
          "200": {
            "description": "A list of all visible collections.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/CollectionDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "UhQqMkEnymeMe3xUBWcKAmwk",
                  "createdAt": 1476184186458,
                  "updatedAt": 1476184186458,
                  "name": "A collection"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      }
    },
    "/collections/{collectionId}": {
      "get": {
        "tags": [ "Collections" ],
        "summary": "Read a collection",
        "description": "Read a single collection by ID.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" }
        ],
        "responses": {
          "200": {
            "description": "The collection requested, if available.",
            "schema": { "$ref": "#/definitions/CollectionDocument" },
            "examples": {
              "application/json": {
                "id": "UF7MqQQsVXPatpaawYgnnbqh",
                "createdAt": 1490866174655,
                "updatedAt": 1490866174655,
                "name": "Test collection"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "put": {
        "tags": [ "Collections" ],
        "summary": "Update a collection",
        "description": "Update a collection by ID. Nested fields such as `tags` are replaced with the new version in the payload. There is a limit of 10,000 Thngs updated per API call on collections. If your collection contains more than 10,000 elements you should consider an iterative solution.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" },
          { "$ref": "#/parameters/CollectionDocumentUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The collection was updated successfully.",
            "schema": { "$ref": "#/definitions/CollectionDocument" },
            "examples": {
              "application/json": {
                "id": "U2a4AsGtqerbcWD6qhYGfb5d",
                "createdAt": 1477066399168,
                "updatedAt": 1490867727562,
                "name": "Test collection",
                "description": "test description"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "delete": {
        "tags": [ "Collections" ],
        "summary": "Delete a collection",
        "description": "Delete a collection by ID.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" }
        ],
        "responses": {
          "200": {
            "description": "The collection was deleted successfully."
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      }
    },
    "/collections/{collectionId}/actions/{actionType}": {
      "post": {
        "tags": [ "Collections" ],
        "summary": "Create a collection action",
        "description": "Create an action on a collection.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" },
          { "$ref": "#/parameters/actionType" },
          { "$ref": "#/parameters/AliasedActionCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The action was created successfully.",
            "schema": { "$ref": "#/definitions/ActionDocument" },
            "examples": {
              "application/json": {
                "id": "UkPgUBmABXPwQpaawhKtSCms",
                "createdAt": 1491481747604,
                "timestamp": 1491481747604,
                "type": "_permanent",
                "location": {
                  "latitude": 51.4519,
                  "longitude": 0.1792,
                  "position": {
                    "type": "Point",
                    "coordinates": [
                      0.1792,
                      51.4519
                    ]
                  }
                },
                "locationSource": "geoIp",
                "context": {
                  "ipAddress": "141.0.154.202",
                  "city": "Crayford",
                  "region": "England",
                  "countryCode": "GB",
                  "userAgentName": "Unknown",
                  "operatingSystemName": "Unknown",
                  "timeZone": "Europe/London"
                },
                "collection": "UFNq7cbWqGsYhqwaaXcp5cYr"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "get": {
        "tags": [ "Collections" ],
        "summary": "Read all collection actions",
        "description": "Read all actions on a collection.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" },
          { "$ref": "#/parameters/actionType" }
        ],
        "responses": {
          "200": {
            "description": "Array of all available actions on this collection.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ActionDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "UF8gd9hD6ttBE8awRgNUmafh",
                  "createdAt": 1491484534118,
                  "timestamp": 1491484534118,
                  "type": "_permanent",
                  "location": {
                    "latitude": 51.4519,
                    "longitude": 0.1792,
                    "position": {
                      "type": "Point",
                      "coordinates": [
                        0.1792,
                        51.4519
                      ]
                    }
                  },
                  "locationSource": "geoIp",
                  "collection": "UFNq7cbWqGsYhqwaaXcp5cYr"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      }
    },
    "/collections/{collectionId}/actions/{actionType}/{actionId}": {
      "get": {
        "tags": [ "Collections" ],
        "summary": "Read a collection action",
        "description": "Read an action on a collection by ID.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" },
          { "$ref": "#/parameters/actionType" },
          { "$ref": "#/parameters/actionId" }
        ],
        "responses": {
          "200": {
            "description": "The requested action, if available.",
            "schema": { "$ref": "#/definitions/ActionDocument" },
            "examples": {
              "application/json": {
                "id": "UF8gd9hD6ttBE8awRgNUmafh",
                "createdAt": 1491484534118,
                "timestamp": 1491484534118,
                "type": "_permanent",
                "location": {
                  "latitude": 51.4519,
                  "longitude": 0.1792,
                  "position": {
                    "type": "Point",
                    "coordinates": [
                      0.1792,
                      51.4519
                    ]
                  }
                },
                "locationSource": "geoIp",
                "collection": "UFNq7cbWqGsYhqwaaXcp5cYr"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      }
    },
    "/collections/{collectionId}/collections": {
      "post": {
        "tags": [ "Collections" ],
        "summary": "Add collections to a collection",
        "description": "Add collections to a collection.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" },
          { "$ref": "#/parameters/CollectionDocumentAddCollectionsBody" }
        ],
        "responses": {
          "200": {
            "description": "The child collections were added successfully."
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "get": {
        "tags": [ "Collections" ],
        "summary": "Read all collections in a collections",
        "description": "Read all collections in a collection.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" }
        ],
        "responses": {
          "200": {
            "description": "An array of all collections available.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/CollectionDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "Ukr6sEY7Bg8w9pRawDUgYDdh",
                  "createdAt": 1490872189534,
                  "updatedAt": 1490872492927,
                  "name": "Child collection",
                  "collections": [
                    "UFNq7cbWqGsYhqwaaXcp5cYr"
                  ]
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "delete": {
        "tags": [ "Collections" ],
        "summary": "Remove all collections in a collection",
        "description": "Remove all collections from a parent collection.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" }
        ],
        "responses": {
          "200": {
            "description": "The collections were successfully deleted from the parent collection."
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      }
    },
    "/collections/{collectionId}/collections/{childCollectionId}": {
      "delete": {
        "tags": [ "Collections" ],
        "summary": "Remove a collection from a collection",
        "description": "Remove a collection from a parent collection.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" },
          { "$ref": "#/parameters/childCollectionId" }
        ],
        "responses": {
          "200": {
            "description": "The child collection was deleted from the parent successfully"
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      }
    },
    "/collections/{collectionId}/thngs": {
      "put": {
        "tags": [ "Collections" ],
        "summary": "Add Thngs to a collection",
        "description": "Add Thngs to a collection. The maximum number of Thngs that can be added to a collection is 10,000 per request.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" },
          { "$ref": "#/parameters/CollectionDocumentAddThngsBody" }
        ],
        "responses": {
          "200": {
            "description": "The Thngs were added successfully.",
            "schema": { "$ref": "#/definitions/CollectionDocument" },
            "examples": {
              "application/json": {
                "id": "UFNq7cbWqGsYhqwaaXcp5cYr",
                "createdAt": 1490866709256,
                "scopes": {
                  "users": [],
                  "projects": []
                },
                "updatedAt": 1490869890727,
                "name": "New collection name",
                "description": "New collection description"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "get": {
        "tags": [ "Collections" ],
        "summary": "Read all Thngs in a collection",
        "description": "Read all Thngs in a collection.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" }
        ],
        "responses": {
          "200": {
            "description": "An array of Thngs in this collection, if any.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ThngDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "UkNCRED7BDPaQKRRwhAnPaQn",
                  "createdAt": 1490356077941,
                  "updatedAt": 1490869117923,
                  "name": "Action Thng",
                  "collections": [
                    "UFNq7cbWqGsYhqwaaXcp5cYr"
                  ]
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      },
      "delete": {
        "tags": [ "Collections" ],
        "summary": "Remove all Thngs from a collection",
        "description": "Remove all Thngs from a collection. Note that this does not delete the actual Thngs themselves.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" }
        ],
        "responses": {
          "200": {
            "description": "All Thngs in the collection were deleted successfully."
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      }
    },
    "/collections/{collectionId}/thngs/{thngId}": {
      "delete": {
        "tags": [ "Collections" ],
        "summary": "Remove a Thng from a collection",
        "description": "Remove a Thng from a collection. There is a limit of 500 Thngs removed per API call on collections. If your collection contains more than 500 elements you should consider an iterative solution.",
        "parameters": [
          { "$ref": "#/parameters/collectionId" },
          { "$ref": "#/parameters/thngId" }
        ],
        "responses": {
          "200": {
            "description": "The Thng was successfully deleted."
          }
        },
        "x-api-keys": [ "Operator", "Application User", "Trusted Application" ]
      }
    },
    "/accounts/{accountId}/domains": {
      "get": {
        "tags": [ "Domains" ],
        "summary": "Read account domains",
        "description": "Read all domains available to an account.",
        "parameters": [
          { "$ref": "#/parameters/accountId" }
        ],
        "responses": {
          "200": {
            "description": "An array of the account's domains.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/DomainDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "createdAt": 1519385011833,
                  "updatedAt": 1519385011833,
                  "id": "5a8ff9b3a1b3f60013492de7",
                  "accountId": "UnFQtmpUMtQBY8wRaEystb5h",
                  "domain": "6rt0s.v.tn.gg"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/files": {
      "post": {
        "tags": [ "Files" ],
        "summary": "Create a file",
        "description": "Create remote file metadata. This operation is the basis for a remote file upload. A successful HTTP `POST` will create a `FileDocument` record with a unique ID and a transient `uploadUrl` field. This signed `uploadUrl` can then be used by a client with an HTTP `PUT` request to do the actual upload to remote storage. The `uploadUrl` will expire after 30 minutes. The input payload to this endpoint should also contain a setting for the `privateAccess` field to indicate whether the file should have 'private' or 'public' access on remote storage.",
        "parameters": [
          { "$ref": "#/parameters/FileDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The file metadata was created successfully.",
            "schema": { "$ref": "#/definitions/FileDocument" },
            "examples": {
              "application/json": {
                "id": "UkPeHkqmeD8wtKawwDMdnxnf",
                "createdAt": 1491380425930,
                "updatedAt": 1491380425930,
                "uploadUrl": "https://s3.amazonaws.com/evtcdn_02/2/uf/UFNCRXfCVM87QNawaE8rrKqc/my_file1.txt?AWSAccessKeyId=AKIAID2MOF7RYNLLMH7Q&Expires=1491382225&Signature=3ejA8lyO%2BE8Lmlr%2BDScYIwj%2FhI8%3D",
                "name": "my_file1.txt",
                "type": "text/plain",
                "privateAccess": true
              }
            }
          }
        },
        "x-api-keys": [ "Operator"]
      },
      "get": {
        "tags": [ "Files" ],
        "summary": "Read all files",
        "description": "Read all remote file metadata items.",
        "responses": {
          "200": {
            "description": "An array of all available remote file metadata items.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/FileDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "UkPeHkqmeD8wtKawwDMdnxnf",
                  "createdAt": 1491380425930,
                  "updatedAt": 1491380425930,
                  "uploadUrl": "https://s3.amazonaws.com/evtcdn_02/2/uf/UFNCRXfCVM87QNawaE8rrKqc/my_file1.txt?AWSAccessKeyId=AKIAID2MOF7RYNLLMH7Q&Expires=1491382548&Signature=fzT9tMYjYO%2FIW4tS5XDJKLa6ZLM%3D",
                  "contentUrl": "https://s3.amazonaws.com/evtcdn_02/2/uf/UFNCRXfCVM87QNawaE8rrKqc/my_file1.txt?AWSAccessKeyId=AKIAID2MOF7RYNLLMH7Q&Expires=1491382548&Signature=80vZzPVpo%2F83yCKfbRA0Sbunhpo%3D",
                  "name": "my_file1.txt",
                  "type": "text/plain",
                  "privateAccess": true
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator"]
      }
    },
    "/files/{fileId}": {
      "get": {
        "tags": [ "Files" ],
        "summary": "Read a file",
        "description": "Read a single remote file metadata item by ID.",
        "parameters": [
          { "$ref": "#/parameters/fileId" }
        ],
        "responses": {
          "200": {
            "description": "The remote file metadata item, if available.",
            "schema": { "$ref": "#/definitions/FileDocument" },
            "examples": {
              "application/json": {
                "id": "UkPeHkqmeD8wtKawwDMdnxnf",
                "createdAt": 1491380425930,
                "updatedAt": 1491380425930,
                "uploadUrl": "https://s3.amazonaws.com/evtcdn_02/2/uf/UFNCRXfCVM87QNawaE8rrKqc/my_file1.txt?AWSAccessKeyId=AKIAID2MOF7RYNLLMH7Q&Expires=1491383003&Signature=sUVXcEsNDwfxaPCJ63Tj%2FCgbHEE%3D",
                "contentUrl": "https://s3.amazonaws.com/evtcdn_02/2/uf/UFNCRXfCVM87QNawaE8rrKqc/my_file1.txt?AWSAccessKeyId=AKIAID2MOF7RYNLLMH7Q&Expires=1491383004&Signature=zlQMxyrcfj%2Bbs7ftVVtunQI3np0%3D",
                "name": "my_file1.txt",
                "type": "text/plain",
                "privateAccess": true
              }
            }
          }
        },
        "x-api-keys": [ "Operator"]
      },
      "delete": {
        "tags": [ "Files" ],
        "summary": "Delete a file",
        "description": "Delete a single remote file metadata item by ID.",
        "parameters": [
          { "$ref": "#/parameters/fileId" }
        ],
        "responses": {
          "200": {
            "description": "The remote file metadata item was deleted."
          }
        },
        "x-api-keys": [ "Operator"]
      }
    },
    "/scan/identifications": {
      "post": {
        "tags": [ "Identifier Recognition" ],
        "summary": "Identify from an image",
        "description": "Identify a 1D or 2D barcode from an uploaded image.",
        "parameters": [
          { "$ref": "#/parameters/ScanImageDocumentCreateBody" },
          { "$ref": "#/parameters/Filter" }
        ], 
        "responses": {
          "200": {
            "description": "The request was accepted, and results may be returned.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ScanImageResultsDocument" }
            }
          }
        },
        "x-api-keys": [ "Trusted Application", "Application" ]
      },
      "get": {
        "tags": [ "Identifier Recognition" ],
        "summary": "Read an identifier",
        "description": "Read a known identifier for its resource.",
        "parameters": [
          { "$ref": "#/parameters/Filter" }
        ],
        "responses": {
          "200": {
            "description": "The request was accepted, and results may be returned.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ScanImageResultsDocument" }
            }
          }
        },
        "x-api-keys": [ "Trusted Application", "Application" ]
      }
    },
    
    "/projects/{projectId}/applications/{applicationId}/oauthClients": {
      "post": {
        "tags": [ "OAuth" ],
        "summary": "Create an OAuth client",
        "description": "Registers a new OAuth client.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/OAuthClientDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The OAuth client was created successfully.",
            "schema": { "$ref": "#/definitions/OAuthClientDocument" },
            "examples": {
              "application/json": {
                "id": "A5OQjkABzTCR3gkoGHybC8tsKOn5bMlQ7O9xpQylXxPQr",
                "name": "Example Client",
                "redirectUrl": "https://examples.com/oauth/callback",
                "customFields": {
                  "type": "Web Application",
                  "homeUrl": "https://examples.com"
                },
                "createdAt": 1493815665131,
                "updatedAt": 1493815665131
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "get": {
        "tags": [ "OAuth" ],
        "summary": "Read all OAuth clients",
        "description": "Read all registered OAuth clients in an application.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" }
        ],
        "responses": {
          "200": {
            "description": "A list of all registered OAuth clients in scope.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/OAuthClientDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "A5OQjkABzTCR3gkoGHybC8tsKOn5bMlQ7O9xpQylXxPQr",
                  "name": "Example Client",
                  "redirectUrl": "https://examples.com/oauth/callback",
                  "customFields": {
                    "type": "Web Application",
                    "homeUrl": "https://examples.com"
                  },
                  "createdAt": 1493815665131,
                  "updatedAt": 1493815665131
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/projects/{projectId}/applications/{applicationId}/oauthClients/{clientId}": {
      "get": {
        "tags": [ "OAuth" ],
        "summary": "Read an OAuth client",
        "description": "Read a specific OAuth client by ID.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/clientId" }
        ],
        "responses": {
          "200": {
            "description": "The requested OAuth client, if available.",
            "schema": { "$ref": "#/definitions/OAuthClientDocument" },
            "examples": {
              "application/json": {
                "id": "AbOfZyGinxSOSCx889b5YlVX9db8nBBth52Ndw4Egd1Er",
                "name": "Updated Example Client",
                "redirectUrl": "https://examples.com/oauth/updated/callback",
                "customFields": {
                  "type": "Web Application",
                  "homeUrl": "https://examples.com/updated"
                },
                "createdAt": 1476451299788,
                "updatedAt": 1476452882154
              }
            }
          } 
        },
        "x-api-keys": [ "Operator" ]
      },
      "put": {
        "tags": [ "OAuth" ],
        "summary": "Update an OAuth client",
        "description": "Update an OAuth client by ID. As soon as the redirect URL is modified, the old URL is not used for a user's redirection.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/clientId" },
          { "$ref": "#/parameters/OAuthClientDocumentUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The OAuthClientDocument was updated successfully.",
            "schema": { "$ref": "#/definitions/OAuthClientDocument" },
            "examples": {
              "application/json": {
                "id": "AbOfZyGinxSOSCx889b5YlVX9db8nBBth52Ndw4Egd1Er",
                "name": "Updated Example Client",
                "redirectUrl": "https://examples.com/oauth/updated/callback",
                "customFields": {
                  "a": "field"
                },
                "createdAt": 1476451299788,
                "updatedAt": 1493818580874
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "delete": {
        "tags": [ "OAuth" ],
        "summary": "Delete an OAuth client",
        "description": "Delete an OAuth client by ID. After the client is removed, it is not allowed to obtain the Application User access token anymore.",
        "parameters": [
          { "$ref": "#/parameters/projectId" },
          { "$ref": "#/parameters/applicationId" },
          { "$ref": "#/parameters/clientId" }
        ],
        "responses": {
          "200": {
            "description": "The OAuth client was deleted successfully."
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/places": {
      "post": {
        "tags": [ "Places" ],
        "summary": "Create a place",
        "description": "Create a new place.",
        "parameters": [
          { "$ref": "#/parameters/PlaceDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The place was created successfully.",
            "schema": { "$ref": "#/definitions/PlaceDocument" },
            "examples": {
              "application/json": {
                "id": "UkrNxSAaVD8wQpaaaDTRKtkp",
                "createdAt": 1490882864661,
                "updatedAt": 1490882864661,
                "name": "Evrythng London Office",
                "description": "London HQ",
                "icon": "https://evrythng.com/wp-content/themes/evrythng_v2.4/img/logo.svg",
                "position": {
                  "type": "Point",
                  "coordinates": [
                    -0.0882956,
                    51.5303183
                  ]
                },
                "address": {
                  "extension": "Unit 4, 122",
                  "street": "East Road",
                  "postalCode": "N1 6FB",
                  "city": "London",
                  "countryCode": "GB"
                },
                "latitude": 51.5303183,
                "longitude": -0.0882956
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      },
      "get": {
        "tags": [ "Places" ],
        "summary": "Read all places",
        "description": "Read all places in an account, with an optional search origin and distance.",
        "parameters": [
          { "$ref": "#/parameters/Latitude" },
          { "$ref": "#/parameters/Longitude" },
          { "$ref": "#/parameters/MaxDistance" }
        ],
        "responses": {
          "200": {
            "description": "An array of all visible places in the account.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/PlaceDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "UFR3PBUe7a2xDnbXQGYVnrGh",
                  "createdAt": 1477043252443,
                  "updatedAt": 1477043252443,
                  "name": "Evrythng London Office",
                  "description": "London HQ",
                  "icon": "https://evrythng.com/wp-content/themes/evrythng_v2.4/img/logo.svg",
                  "position": {
                    "type": "Point",
                    "coordinates": [
                      125.6,
                      10.1
                    ]
                  },
                  "address": {
                    "extension": "Unit 4, 122",
                    "street": "East Road",
                    "postalCode": "N1 6FB",
                    "city": "London",
                    "countryCode": "GB"
                  },
                  "latitude": 10.1,
                  "longitude": 125.6
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application", "Application", "Application User" ]
      }
    },
    "/places/{placeId}": {
      "get": {
        "tags": [ "Places" ],
        "summary": "Read a place",
        "description": "Read a place by ID.",
        "parameters": [
          { "$ref": "#/parameters/placeId" }
        ],
        "responses": {
          "200": {
            "description": "The place that was requested, if available.",
            "schema": { "$ref": "#/definitions/PlaceDocument" },
            "examples": {
              "application/json": {
                "id": "U2rNbKSxBgsRQpaawhPnCc5d",
                "createdAt": 1490885393724,
                "updatedAt": 1491314202340,
                "name": "Permanent Place",
                "description": "New description",
                "position": {
                  "type": "Point",
                  "coordinates": [
                    -0.0882956,
                    51.5303183
                  ]
                },
                "address": {
                  "street": "East Road",
                  "postalCode": "N1 6FB",
                  "city": "London",
                  "countryCode": "GB"
                },
                "longitude": -0.0882956,
                "latitude": 51.5303183
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application", "Application", "Application User" ]
      },
      "put": {
        "tags": [ "Places" ],
        "summary": "Update a place",
        "description": "Update a place by ID. The old fields are entirely overwritten by the new values, so to add a tag for example you must submit the previous tag array including the new tags.",
        "parameters": [
          { "$ref": "#/parameters/placeId" },
          { "$ref": "#/parameters/PlaceDocumentUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The place was read successfully.",
            "schema": { "$ref": "#/definitions/PlaceDocument" },
            "examples": {
              "application/json": {
                "id": "U2rNbKSxBgsRQpaawhPnCc5d",
                "createdAt": 1490885393724,
                "updatedAt": 1490885393724,
                "name": "Permanent Place",
                "description": "London HQ",
                "icon": "https://evrythng.com/wp-content/themes/evrythng_v2.4/img/logo.svg",
                "position": {
                  "type": "Point",
                  "coordinates": [
                    -0.0882956,
                    51.5303183
                  ]
                },
                "address": {
                  "extension": "Unit 4, 122",
                  "street": "East Road",
                  "postalCode": "N1 6FB",
                  "city": "London",
                  "countryCode": "GB"
                },
                "latitude": 51.5303183,
                "longitude": -0.0882956
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      },
      "delete": {
        "tags": [ "Places" ],
        "summary": "Delete a place",
        "description": "Delete a place by ID.",
        "parameters": [
          { "$ref": "#/parameters/placeId" }
        ],
        "responses": {
          "200": {
            "description": "The place was successfully deleted."
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      }
    },
    "/roles/{roleId}/policies": {
      "post": {
        "tags": [ "Policies" ],
        "summary": "Create a policy",
        "description": "Create a new policy to apply a schema to a role.",
        "parameters": [
          { "$ref": "#/parameters/roleId" },
          { "$ref": "#/parameters/PolicyDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The policy was created.",
            "schema": { "$ref": "#/definitions/PolicyDocument" },
            "examples": {
              "application/json": {
                "schema": "UGBHm6BFVDsaQKRwaFCrGhmp",
                "id": "UGVnG7MfeXPRQpRaRFCNGhGq",
                "createdAt": 1498062277333,
                "role": "5925998d8c29fc2800dea2e2"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "get": {
        "tags": [ "Policies" ],
        "summary": "Read all policies",
        "description": "Read all policies for a given role ID.",
        "parameters": [
          { "$ref": "#/parameters/roleId" }
        ],
        "responses": {
          "200": {
            "description": "A list of all available policies.",
            "schema": { 
              "type": "array", 
              "items": { "$ref": "#/definitions/PolicyDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "schema": "UGBHm6BFVDsaQKRwaFCrGhmp",
                  "id": "UGVnG7MfeXPRQpRaRFCNGhGq",
                  "createdAt": 1498062277333,
                  "role": "5925998d8c29fc2800dea2e2"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/roles/{roleId}/policies/{policyId}": {
      "get": {
        "tags": [ "Policies" ],
        "summary": "Read a policy",
        "description": "Read a single policy on a role by ID.",
        "parameters": [
          { "$ref": "#/parameters/roleId" },
          { "$ref": "#/parameters/policyId" }
        ],
        "responses": {
          "200": {
            "description": "The requested policy, if available.",
            "schema": { "$ref": "#/definitions/PolicyDocument" },
            "examples": {
              "application/json": {
                "schema": "UGBHm6BFVDsaQKRwaFCrGhmp",
                "id": "UGVnG7MfeXPRQpRaRFCNGhGq",
                "createdAt": 1498062277333,
                "role": "5925998d8c29fc2800dea2e2"
              }
            }
          }
        },
        "x-api-keys": [ "Operator" ]
      },
      "delete": {
        "tags": [ "Policies" ],
        "summary": "Delete a policy",
        "description": "Delete a single policy on a role by ID.",
        "parameters": [
          { "$ref": "#/parameters/roleId" },
          { "$ref": "#/parameters/policyId" }
        ],
        "responses": {
          "204": {
            "description": "The policy was deleted successfully."
          }
        },
        "x-api-keys": [ "Operator" ]
      }
    },
    "/products": {
      "post": {
        "tags": [ "Products" ],
        "summary": "Create a product",
        "description": "Create a new product. The ID returned can be then stored in the `product` field of any Thng in the platform, which denotes that that Thng is a unique instance of this particular product.",
        "parameters": [
          { "$ref": "#/parameters/ProductDocumentCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The product was created successfully.",
            "schema": { "$ref": "#/definitions/ProductDocument" },
            "examples": {
              "application/json": {
                "id": "UF7sxeAnMmsEhMaRaEDPcBee",
                "createdAt": 1490949178881,
                "updatedAt": 1490949178881,
                "fn": "Test product",
                "name": "Test product"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application", "Application User" ]
      },
      "get": {
        "tags": [ "Products" ],
        "summary": "Read all products",
        "description": "Read all products in the account.",
        "responses": {
          "200": {
            "description": "An array of all products available.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ProductDocument" }
            },
            "examples": {
              "application/json": [
                {
                  "id": "UFNPxXxwVDPRQpaRwYPttarb",
                  "createdAt": 1490949648401,
                  "updatedAt": 1490949648401,
                  "fn": "Permaproduct",
                  "name": "Permaproduct"
                }
              ]
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application", "Application", "Application User" ]
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": [ "Products" ],
        "summary": "Read a product",
        "description": "Read a single product.",
        "parameters": [
          { "$ref": "#/parameters/productId" }
        ],
        "responses": {
          "200": {
            "description": "The product was read successfully.",
            "schema": { "$ref": "#/definitions/ProductDocument" },
            "examples": {
              "application/json": {
                "id": "UFrPSfP3M9QBEsRaaXtEBAca",
                "createdAt": 1490949609559,
                "updatedAt": 1490949609559,
                "fn": "Test product",
                "name": "Test product"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application", "Application", "Application User" ]
      },
      "put": {
        "tags": [ "Products" ],
        "summary": "Update a product",
        "description": "Update a product by ID.",
        "parameters": [
          { "$ref": "#/parameters/productId" },
          { "$ref": "#/parameters/ProductDocumentUpdateBody" }
        ],
        "responses": {
          "200": {
            "description": "The product was updated successfully.",
            "schema": { "$ref": "#/definitions/ProductDocument" },
            "examples": {
              "application/json": {
                "id": "UFNPxXxwVDPRQpaRwYPttarb",
                "createdAt": 1490949648401,
                "updatedAt": 1490950974202,
                "description": "Updated description",
                "fn": "Permaproduct",
                "name": "Permaproduct"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application", "Application User" ]
      },
      "delete": {
        "tags": [ "Products" ],
        "summary": "Delete a product",
        "description": "Delete a product by ID. Deleting a product resource will remove its reference from all Thngs that point to it. This cannot be reversed!",
        "parameters": [
          { "$ref": "#/parameters/productId" }
        ],
        "responses": {
          "200": {
            "description": "The product was deleted successfully."
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application" ]
      }
    },
    "/products/{productId}/actions/{actionType}": {
      "post": {
        "tags": [ "Products" ],
        "summary": "Create a product action",
        "description": "Create an action on a product.",
        "parameters": [
          { "$ref": "#/parameters/productId" },
          { "$ref": "#/parameters/actionType" },
          { "$ref": "#/parameters/AliasedActionCreateBody" }
        ],
        "responses": {
          "201": {
            "description": "The action was created successfully.",
            "schema": { "$ref": "#/definitions/ActionDocument" },
            "examples": {
              "application/json": {
                "id": "UkPgUBmABXPwQpaawhKtSCms",
                "createdAt": 1491481747604,
                "timestamp": 1491481747604,
                "type": "_permanent",
                "location": {
                  "latitude": 51.4519,
                  "longitude": 0.1792,
                  "position": {
                    "type": "Point",
                    "coordinates": [
                      0.1792,
                      51.4519
                    ]
                  }
                },
                "locationSource": "geoIp",
                "context": {
                  "ipAddress": "141.0.154.202",
                  "city": "Crayford",
                  "region": "England",
                  "countryCode": "GB",
                  "userAgentName": "Unknown",
                  "operatingSystemName": "Unknown",
                  "timeZone": "Europe/London"
                },
                "product": "UFNPxXxwVDPRQpaRwYPttarb"
              }
            }
          }
        },
        "x-api-keys": [ "Operator", "Trusted Application", "Application User" ]
      },
      "get": {
        "tags": [ "Products" ],
        "summary": "Read all product actions",
        "description": "Read all actions created on a product.",
        "parameters": [
          { "$ref": "#/parameters/productId" },
          { "$ref": "#/parameters/actionType" }
        ],
        "responses": {
          "200": {
            "description": "Array of all available actions on this product.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ActionDocument" }
            },
            "examples": {
              "application/json": [
                {
[...]
